.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-completed {
  flex: 0 0 60px;
  overflow: visible;
}

.mat-column-title {
  flex: 1 1;
}

.mat-column-priority {
  flex: 0 0 80px;
  text-align: center;
}

.mat-column-remove {
  flex: 0 0 60px;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  color: lightgrey;
}

.mat-cell {
  mat-form-field {
    width: 100%;
  }
}
