<app-header></app-header>

<mat-card
  class="container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px">

  <app-todo-form (submitted)="addTodo($event)"></app-todo-form>

  <div class="todo-list">
    <mat-table #table [dataSource]="dataSource">
      <!-- Completed Column -->
      <ng-container matColumnDef="completed">
        <mat-header-cell *matHeaderCellDef> Done? </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="toggleRow(i, element)"
                        [checked]="element.completed">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Tasks </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" (click)="setEditing(i)">
          <span *ngIf="editRow != i"
                [ngClass]="{'completed': element.completed}"
                >
            {{element.title}}
          </span>

          <mat-form-field *ngIf="editRow == i">
            <input matInput
                   type="text"
                   (blur)="updateRow(i, element)"
                   (keyup.enter)="updateRow(i, element)"
                   [(ngModel)]="element.title"/>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Priority Column -->
      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef> Priority </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          <span [ngClass]="{'completed': element.completed}">
            {{element.priority}}
          </span>
        </mat-cell>
      </ng-container>

      <!-- Remove Column -->
      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef> Remove </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
          <button mat-button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="removeRow(i, element)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <span>{{summary | json}}</span>
</mat-card>
